body {
  background-color: hsl(30, 38%, 92%);
}

.wrapper {
  background-color: #fff;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
}
.left {
  width: 50%;
}

.left img {
  width: 100%;
}

.right {
  padding: 0 70px 0 70px;
  width: 50%;
}

h5 {
  color: hsl(228, 12%, 48%);
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 0.9;
  margin: 20px 0;
}

.right .right-disc p {
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  line-height: 1.5rem;
}

.price {
  display: flex;
}

.price .newprice {
  font-size: 30px;
  color: hsl(158, 36%, 37%);
}
.price .crossed {
  font-size: 15px;
  padding-top: 10px;
  margin-left: 5px;
}

.right button {
  color: #fff;
  background-color: hsl(158, 36%, 37%);
  width: 100%;
}

.right button a {
  color: #fff;
  text-decoration: none;
}
